/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    background-color: var(--first-color);
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    transition: .8s;
    padding: .3rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    
    &:hover{
        background-color: var(--first-color);
        opacity: 1;
    }
    &__icon{
        font-size: 1.25rem;
        color: var(--title-color);
    }
 }

 /*Scroll Up*/
 
 .show-scroll{
     bottom: 3rem;
 }

//  ================== SCROLLL BAR =================== 

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: var(--scroll-bar-color);

    &-thumb{
        border-radius: .5rem;    
        background-color: var(--scroll-thumb-color);
    }
    &:hover{
        background-color: var(--text-color-light);
    }
}